body{
    background-color: rgb(226, 177, 103);
}
div{
    margin:10px;
    
}
.text-content{
    width: 33%;
    display:inline-block;
    
}
.text-content img{
    width: 100%
}
.box2{
    position: absolute;
    display: inline-block;
}
.box3{
    right: 0;
    position: absolute;
   
}