body {

    background-color: rgb(226, 177, 103);
    background-image: url(img/vintage-old-paper-texture-background_6225192.webp);
}

header:first-child {
    background-color: blueviolet;
    width: 100%;
    position: relative;
    display: inline-block;

}

.pximg {
    width: 200px;
}

.body {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

hr {
    border: 2px solid;
    color: #000;
}

div {
    width: 22%;
    margin: 15px;
    text-align: justify;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.headert {
    position: relative;
    background-color: bisque;
    padding: 30px;
    top: 0;
    margin: auto;
}

.box-head1 {
    display: inline-block;
    position: absolute;
    background-color: blue;
    text-align: center;
}

.box-head2 {
    position: relative;
    background-color: rgb(110, 216, 145);
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    top: 0;
    bottom: 0;
    right: 0;
}

.box-head3 {

    position: absolute;
    background-color: blue;
    text-align: center;
    display: inline;
    right: 0;
    top: 0;

}

.text-content {
    width: 33%;
    display: inline-block;

}

.text-content img {
    width: 100%
}

.box2 {
    position: absolute;
    display: inline-block;
    width: 30%;
    margin: auto;
}

.box3 {
    right: 0;
    position: absolute;
    margin: auto;
}

.drop:first-child {
    width: 100%;
    position: absolute;
}
.pximf {
        position: relative;
        width: 50px;
}

.footer:first-child {
    position: relative;
    right: 0;
    margin: auto 0;
}

.footer1 {
    position: absolute;
}

.footer2 {
    position: relative;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
}

.footer3 {
    position: absolute;
    right: 0;
    bottom: 0;
}